# Установка кодировки
AddDefaultCharset utf-8
php_value memory_limit 10000M
# Запрет листинга директории
Options -Indexes

RewriteEngine on 

# Настройки ЧПУ
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/sitemap\.xml$

RewriteRule ^(.*)$ index.php?action=$1 [L,QSA]
ErrorDocument 404 https://justrelaxdc.github.io/diit/404.html